@model IEnumerable<SG_Finder.Models.Message>
@using Microsoft.AspNetCore.Identity
@inject UserManager<SG_Finder.Models.ApplicationUser> UserManager


@if (ViewData["Title"]?.ToString() == "Chat")
{
<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
}

@{
ViewData["Title"] = "Chat";
var currentUserId = UserManager.GetUserId(User); // Get the current user's ID
}

<h2 class="text-center">Chat with @ViewBag.ContactName</h2>

<!-- Chat Box -->
<div id="chatBox" class="chat-box">
    <ul id="messageList" class="message-list">
        @foreach (var message in Model)
        {
        <li class="message @(message.SenderID == currentUserId ? "sent" : "received")">
            <span class="message-content">@message.Content</span>
        </li>
        }
    </ul>
</div>


<hr />

<!-- Message Input Form -->
<div class="message-input">
    <textarea id="messageContent" class="form-control" placeholder="Type your message here"></textarea>
    <button id="sendMessageBtn" class="btn btn-primary mt-2">Send Message</button>
</div>

<!-- Link External CSS -->
<link rel="stylesheet" href="/css/chat.css" />

<!-- Include SignalR library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>

<!-- Link External JavaScript -->
<script src="/js/chat.js"></script>
@section Scripts {
<script src="~/js/signalr.js"></script>
}

<script>
    const currentUserId = '@currentUserId';
    const receiverId = '@ViewBag.ReceiverID';
</script>
